// Specific CSS for your home-page
body {
  padding: 10px;
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4 {
  font-family: Raleway, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: smaller;
}

.flex {
  display: flex;
}

.flex-align {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.car-card {
  overflow: hidden;
  box-shadow: 2px 2px 11px -1px rgba(0,0,0,0.24);
  text-align: left;
  width: 100%;
  position: relative;
  margin: 1rem;
  background-color: #fff;
  border-radius: 2px;
  justify-content: center;
  padding: 10px;
}

.car-card-image {
  height: 180px;
  background-position: center;
  background-size: cover;
}

.car-card .car-card-content {
  padding:0px;
  display:flex;
  justify-content: space-between;
  align-items:center;
  position:relative;
  line-height: 1%;
  height: 35px;
}

.car-card .car-card-content-right {
  padding-top: 5px;
}

.car-card-actions {
  position: relative;
  background-color: inherit;
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  padding: 0px;
}

.car-form {
  background-color: #F8F9FA;
  padding: 24px;
  border-radius: 3px;
}

.car-show-card {
  background: #F8F9FA;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  border-radius: 3px;
}

.map {
  height: 350px;
  background-position: center;
  background-size: cover;
}

.margin-top-negative {
  margin-top: -75px;
}

.no-mb {
  margin-bottom: 0;
}

.car-show-address {
  font-weight: 300;
  font-size: 20px;
  color: #333;
}

.cards {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
}

.car-type {
  border-radius: 5%;
  background-color: lightgrey;
  position: absolute;
  right: 5px;
  top: -30px;
  height: 20px;
  width: 80px;
  opacity: 0.75;
  justify-content: center;
  text-align: center;
}

.car-type p {
  position: relative;
  justify-content: center;
  bottom: 2px;
}

#license-plate {
  color: grey;
  opacity: 75%;
}

#viewbook {
  width: 49%;
}

#title-tag {
  font-family: ui-rounded;
}

// .cards {
//   display: flex;
//   text-align:center;
//   justify-content: space-around;
// }

// .card {
//   height: 25rem;
//   width: 22%;

//   box-shadow: 2px 2px 11px -1px rgba(0,0,0,0.24);
//   padding: 16px;
// }

// .card img{
//   height: 10rem;
//   width: auto;
// }


.container {
  text-align: center;
  padding: 30px;
}

.footer {
  background-color: grey;
  text-align: center;
  color:white;
  height:7rem;
  padding: 5px;
}

.banner {
  background-image:url('https://images.pexels.com/photos/2356071/pexels-photo-2356071.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
  background-size: cover;
  background-position: bottom;
  text-align: center;
  justify-content: center;
  display:flex;
  height: 35rem;
  position:relative;
}

.banner-text{
  position:absolute;
  left: 3rem;
  top: 10rem;
  text-align: left;
  color: white;
}

#entry-button {
  position:absolute;
  left: 3rem;
  top: 20rem;
}
