

<div class="banner">
  <div class="banner-text">
    <h1>Rent a Car. See the World.</h1>
  </div>

  <form>
    <div class="form-group">
      <label for="inputAddress">Address</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
    </div>
  </form>

  <%= link_to "Find my car", cars_path, class: "btn btn-secondary", id: "entry-button" %>
</div>







