.navbar-lewagon {
  justify-content: space-between;
  background: #858b97;
  padding: 15px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-brand img {
  width: 30px;
}

#title-text {
  font-size: 30px;
  color: white;
  font-family: Helvetica;
  font-weight: bolder;
  position: absolute;
  left: 56px;
  bottom: 10px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}


.navbar-light .navbar-nav .nav-link {
 color: white;
}
