.navbar-lewagon {
  justify-content: space-between;
  background: darkgrey;
  padding: 15px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-brand img {
  width: 30px;
}

#title-text {
  font-size: 30px;
  font-family: fantasy;
  position: absolute;
  left: 56px;
  bottom: 5px;
}


